Source: yandex-contest-invoker
Section: misc
Priority: extra
Maintainer: sarum9in <sarum9in@yandex-team.ru>
Build-Depends: debhelper (>= 7), cmake, pkg-config, git-core, lxc-dev (>= 0.8), gcc-4.7, g++-4.7, libboost-system1.48-dev, libboost-filesystem1.48-dev, libboost-serialization1.48-dev, libboost-test1.48-dev, libboost-program-options1.48-dev, default-jdk, maven2
Standards-Version: 3.8.3

Package: yandex-contest-invoker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lxc (>=0.8), linux-image (>=3.0.4)
Description: Restricted execution in LXC.
 Library allows user execute arbitrary group of processes
 in restricted environment using LXC.
